.button__edit-profile{
    background: url(../../../images/edit_button.svg);
    background-size: 10px 10px;
    background-repeat: no-repeat;
    width: 24px;
    background-position: center;
    height: 24px;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    grid-area: button;
    align-self: center;
}
.button__edit-profile:hover{
    opacity: 0.6;
}
@media (max-width: 420px) {
    .button__edit-profile{
            background-size: 7.5px;
            width: 18px;
            height: 18px;
        }
}