.popup__close-button{
    background: url(../../../images/close_button.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 155px;
    right: 30%;
}
.popup__close-button:hover{
    opacity: 0.6;
}
@media (max-width: 897px) {
    .popup__close-button{
            right: 21%;
        }
}
@media (max-width: 598px) {
    .popup__close-button{
            width: 20px;
            height: 20px;
            top: 87px;
        }
}
@media (max-width: 420px) {
    .popup__close-button{
            right: 15%;
        }
}
@media (max-width: 320px) {
    .popup__close-button{
            right: 19px;
        }
}